project/Library/
project/spine-unity.csproj
project/spine-unity-editor.csproj
project/UniRx.csproj
project/UniRx.Examples.csproj
project/Unity.2D.Sprite.Editor.csproj
project/Unity.2D.Sprite.Package.EditorTests.csproj
project/Unity.CollabProxy.Editor.csproj
project/Unity.CollabProxy.EditorTests.csproj
project/Unity.EditorCoroutines.Editor.csproj
project/Unity.MemoryProfiler.csproj
project/Unity.MemoryProfiler.Editor.csproj
project/Unity.Rider.Editor.csproj
project/Unity.TextMeshPro.csproj
project/Unity.TextMeshPro.Editor.csproj
project/Unity.TextMeshPro.Editor.Tests.csproj
project/Unity.TextMeshPro.Tests.csproj
project/Unity.Timeline.csproj
project/Unity.Timeline.Editor.csproj
project/Unity.VSCode.Editor.csproj
project/UnityEditor.TestRunner.csproj
project/UnityEditor.UI.csproj
project/UnityEditor.UI.EditorTests.csproj
project/UnityEngine.TestRunner.csproj
project/UnityEngine.UI.csproj
project/UnityEngine.UI.Tests.csproj
project/.vsconfig
project/Assembly-CSharp.csproj
project/Assembly-CSharp-Editor.csproj
project/.vs/project/v15/.suo
project/.vs/project/v15/Server/sqlite3/db.lock
project/.vs/project/v16/.suo
project/.vs/project/v16/Browse.VC.db
project/.vs/project/v16/TestStore/0/000.testlog
project/.vs/project/v16/TestStore/0/testlog.manifest
project/project.sln
project/.vs/project/v15/Server/sqlite3/storage.ide
project/.vs/project/v15/Server/sqlite3/storage.ide-shm
project/.vs/project/v15/Server/sqlite3/storage.ide-wal

project/OtherAssets/

project/Temp/

project/obj/
